*
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    color: aliceblue;
   background-color: rgb(15, 1, 31);
}

/*Funções Gerais*/

p
{
    padding: 10px;
    margin: 10px;
    display: flex;
    text-align: start;
}

h1
{
    padding: 10px;
    margin-top: 15px;
}

#PersonagemStyle
{
    height: 150px;
    display: flex;
    margin: 7px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}



/*Cabeçalho*/

header
{
    width:100%;
    height:auto;
    padding:2px 0px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 0%,
        rgb(51, 37, 51) 10%,
        rgb(77, 45, 77) 30%,
        rgb(100, 42, 100) 50%,
        rgb(77, 45, 77) 70%,
        rgb(51, 37, 51) 90%,
        rgb(0, 0, 0) 100%
    );
}

.logo
{
    cursor: pointer;
}

.ButtonsHeader
{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.textHeader
{
    color: white;
}

.item
{
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

/*Primeiro Jogo*/

.PrimeiroJogo
{
   background-color: rgb(15, 1, 31);
   width: 75%;
   border-bottom: 2px solid rgb(255, 255, 255);
}

.ImgJogo1
{
    justify-content: center;
    display: flex;
    height: 350px;
}

.PsgPrimeiroJg
{
    display: flex;
    justify-content: row;
    margin-left: 50px;
    margin: 20px;
    border-bottom: 8px solid red;
    border-top: 8px solid red;
    background-image:url(https://img.freepik.com/premium-vector/black-white-finish-line-checkered-flag-vector-icon-chess-pattern_790651-287.jpg);
    background-size: contain;
}

/*Segundo Jogo*/

.ImgJogo2
{
    justify-content: center;
    display: flex;
    height: 300px;
}

.SegundoJogo
{
   background-color: rgb(15, 1, 31);
   width: 75%;
   border-bottom: 2px solid rgb(255, 255, 255);
}

.PsgSegundoJg
{
    display: flex;
    justify-content: row;
    margin-left: 50px;
    margin: 20px;
    border-bottom: 8px solid red;
    border-top: 8px solid red;
    background-image:url(https://img.freepik.com/premium-vector/black-white-finish-line-checkered-flag-vector-icon-chess-pattern_790651-287.jpg);
    background-size: contain;
}